<% provide(:home, "active") %>
<% provide(:title, " Page home") %>

<div class="jumbotron">
      <div class="container first-p">
        <h1>Bienvenue sur ma web app !</h1>
        <p>Il sagit d'un blog simple composé d'une partie admin (CRUD), Authentification(DEVISE),systeme de commentaires, Affichage classic avec une gem pour la pagination.</p>
      </div>
    </div>

      <!-- Example row of columns -->

      <% @posts.each do |post| %>
      <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><span class="glyphicon glyphicon-list-alt"></span> <%= post.title.capitalize %></h3>
              <div class="row">
                <div class="col-xs-9">
                  <p><%= post.content %></p>
                  <% if current_user.try(:admin?) %>
            <div class="row">
                <div class="text-center">

                    <%= link_to 'Modifier', edit_post_path(post) %>
                    <%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Etes-vous sur?' } %>
                </div>
            </div>
            <% else %>
          <% end %>
                  <p class="lead"><button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> <%= link_to 'Voir plus', post %></button></p>
                  <p class="pull-right">Posté par <span class="label label-default"><%= post.user.email %></span></p>
                  <ul class="list-inline"><li><a href="#"><span class="glyphicon glyphicon-comment"></span> <%= post.comments.count %> <%= link_to 'Commententaires', post %></a></li></ul>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
      <% end %> 