<!DOCTYPE html>
<html>
<head>
  <title>VitalBlog<%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

	<% if current_user %>
    	<h3>Connecté en tant que <%= current_user.email %></h3>
    <% else %>
    	<h3>Connecté en tant que visiteur</h3>
    <% end %> 

<div class="container">
<% if alert %>
  <button type="button" class="btn btn-danger ribbon"><%= alert %></button>
<% end %>
<% if notice %>
  <button type="button" class="btn btn-success ribbon"><%= notice %></button>
<% end %>
	<%= yield %>
</div>


</body>
</html>
